<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/leaflet/1.7.1/leaflet.css} "/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.13.0/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/leaflet/1.7.1/leaflet.js}" ></script>
</head>
<body>
<div class="container-fluid bg-success text-white">
    <div class="container">
        <div class="row">
            <div class="col-11"><h1>#StopCovid</h1></div>
            <div class="col-1" style="display: flex; justify-content: center; align-items: center;" ><a class="text-white" th:href="@{/welcome}">Home</a></div>
        </div>
    </div>
</div>
<div class="container mb-3">
    <table>
        <tr>
            <td> Description : </td>
            <td th:text="${activity.getDescription()}"></td>
        </tr><tr>
        <td> Starting date : </td>
        <td th:text="${activity.getStart()}"></td>
    </tr><tr>
        <td> Ending date : </td>
        <td th:text="${activity.getEnd()}"></td>
    </tr><tr>
        <td> Location city : </td>
        <td th:text="${activity.getLocation().getCity()}"></td>
    </tr><tr>
        <td> Location name : </td>
        <td th:text="${activity.getLocation().getName()}"></td>
    </tr><tr>
        <td> Location address : </td>
        <td th:text="${activity.getLocation().getAddress()}"></td>
    </tr><tr>
        <td> Location latitude : </td>
        <td id="latitude" th:text="${activity.getLocation().getLatitude()}"></td>
    </tr><tr>
        <td> Location longitude : </td>
        <td id="longitude" th:text="${activity.getLocation().getLongitude()}"></td>
    </tr>
    </table>
</div>
<div id="map" th:style="'height:60vh;'">
    <!-- MY LEAFLET MAP -->
</div>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/myactivity.js}"></script>
</body>
</html>